* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content;
	gap: 1rem;
	margin-block: 1rem;
	padding-inline: 1rem;
}

.split__col {
	display: flex;
	flex-direction: column;
}

.split__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-block: 0.5rem;
}

.split__title {
	font-size: 1.15rem;
	margin-block: 0.5rem;
}

.options {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-end;
	width: calc(50% - 0.5rem);
}

.options button {
	cursor: pointer;
	height: 1.5rem;
	padding-inline: 0.5rem;
}

.edit-box {
	border-radius: 0.5rem;
	border: 0;
	flex: 1 0 auto;
	min-height: 3rem;
	max-height: 500px;
	outline: 1px solid;
	padding: 0.5rem;
}

.edit-box:focus-within {
	outline-width: 2px;
}

[contenteditable] {
	overflow-y: scroll
}

[contenteditable]:empty::before {
	content: 'Paste your text from google docs';
	color: #666;
	font-style: italic;
}

textarea {
	resize: none;
}